Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
Objectives:
List popular languages for Data Science
Creating Markdowns 
Making simple arithmetic calculations

Some of the popular languages that Data Scientists use are:
    1 Python 
    2 SQL
    3 R

Some of the commonly used libraries used by Data Scientists include:
    1 Numpy 
    2 Pandas 
    3 Scikit

Data Science Tools
Jupyter 
Rstudio 
Spyder

###Below are a few examples of evaluating arithmetic expressions in Python
x = 4 
y = 4 
Print (x+y)

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200 
hours = minutes/60 
print (hours)

3.3333333333333335

In [ ]:
## Olivier Fevry